# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Upload files
# =========================
uploads/
*.mp3
*.m4a

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/
node_modules